
<h2><%= @list.name %> list</h2>

<p>ceci est la page de la list de <%= @list.name %></p>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <div class="bg-card">
      <li><h3><%= bookmark.movie.title %></h3></li>
      <li><%= bookmark.movie.overview %></li>
      <li><%= bookmark.movie.rating %></li>
   </div>
   <br><br><br>
  <% end %>
</ul>

<%= link_to "add a movie at this list",  list_movies_path(@list) %> ||
<%= link_to "back to all categories-lists", lists_path, class: "back-button"  %>
